{% extends 'base.html' %}
{% load static %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">User ID</th>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Body</th>
        </tr>
    </thead>
    <tbody>
        {% for i in data %}
        <tr>
            <td>{{ i.userId }}</td>
            <td>{{ i.id }}</td>
            <td>{{ i.title }}</td>
            <td>{{ i.body | truncatechars:'80'}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}