{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{user.username}} - AlgoAspire Blog{% endblock title %}

{% block style %}
.post-card {
    max-width: 600px;
    margin: 0 auto;
}

.post-image {
    height: 300px;
    object-fit: cover;
}
{% endblock style %}

{% block main %}

<div class="container my-5">
    <div class="d-flex justify-content-center">
        <div class="card shadow-sm" style="max-width: 400px; width: 100%;">
            <div class="card-header text-center" style="background: #7bd5ff;">
                <h5 class="mb-0">Personal Information</h5>
            </div>
            <div class="card-body">
                <p><strong>Username:</strong> {{ user.username }} {% if user.is_staff %} <span data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Verified Author"  class="text-primary"><i class="fa-solid fa-circle-check"></i></span> {% endif %}</p>
                <p><strong>Full Name:</strong> {{ user.first_name }} {{ user.last_name }}</p>
                <p><strong>E-mail:</strong> {{ user.email }}</p>
                <p><strong>Joined:</strong> {{ user.date_joined|date:"d M Y" }}</p>
                <p><strong>Last Login:</strong> {{ user.last_login }}</p>
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'edit_profile' user.username %}" class="btn btn-primary me-2">Edit Profile</a>
                <a href="{% url 'change_password' user.username %}" class="btn btn-outline-warning text-black">Change Password</a>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h1 class="text-center my-4 text-muted">Your Posts</h1>
    <hr>
    {% if posts %}
        {% for post in posts %}
            <div class="card post-card mb-4 shadow-sm">
                <div class="card-header d-flex align-items-center">
                    <img src="{% static 'default.jpg' %}" alt="Profile Picture" class="rounded-circle me-3" width="50" height="50">
                    <div>
                        <h6 class="mb-0">{{ post.author.first_name }} {{ post.author.last_name }} {% if post.author.is_staff %} <span data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Verified Author"  class="text-primary"><i class="fa-solid fa-circle-check"></i></span> {% endif %}</h6>
                        <small class="text-muted" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Last Updated: {{post.updated_at}}">{{ post.created_at | date:"D, M Y" }}</small>
                    </div>
                </div>
                
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="{{ post.title }}" class="card-img-top post-image">
                {% endif %}
                
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content|truncatechars:400 }} <a href="{% url 'single_post' post.id %}">See more</a></p>
                    {% if post.tags %}
                        <p class="text-muted"><small>Tags: {{ post.tags }}</small></p>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <a href="{% url 'edit_post' post.author.username post.id %}" class="btn btn-primary">Edit Post</a>
                    <a href="{% url 'delete_post' post.author.username post.id %}" class="btn btn-outline-danger">Delete Post</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="text-center text-muted">No posts available yet.</p>
    {% endif %}
</div>


{% endblock main %}