{% extends "base.html" %}
{% load static %}

{% block title %}Home - AlgoAspire Blog{% endblock title %}

{% block style %}
.post-card {
    max-width: 600px;
    margin: 0 auto;
}

.post-image {
    height: 350px;
    object-fit: cover;
}
.filter-tags{
    max-width: 500px;
}
{% endblock style %}

{% block main %}

<div class="card text-center m-4" style="background: #7bd5ff;">
    {% if not user.is_authenticated %}
        <h4 class="m-2 p-2">Please <a href="{% url 'login' %}" class="text-decoration-none">Login</a> to Share Your Thoughts!</h4>
    {% else %}
        <h4 class="m-2 p-2">Welcome {{user.first_name}} {{user.last_name}}, <a href="{% url 'create_post' %}"><i class="fa-solid fa-pen-to-square"></i> Share Awesome Thought!</a></h4>
    {% endif %}
</div>

<div class="container mt-5">
    <h5 class="m-2 text-muted"><i class="fa-solid fa-filter"></i> Filter By Category</h5>
    <div class="filter-tags mx-3 my-4">

        {% for category in categories %}
        <a class='text-decoration-none text-white' href="{% url 'category_wise_post' category.slug %}">
            <span class="badge rounded-pill text-bg-primary p-2 my-1">{{category.name}}</span>
        </a>
        {% endfor %}
        
    </div>
    {% if current_cat is not None %}
    <h3 class="text-center my-4 text-muted">{{posts | length}} Results found for <span class="badge rounded-pill text-bg-primary p-2">{{current_cat}}</span> 
        <a href="{% url 'home' %}" class="text-muted"  data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Reset Filter"><i class="fa-solid fa-xmark"></i></a></h3>
    {% else %}
    <h3 class="text-center my-4 text-muted">All Posts</h3>
    {% endif %}
    <hr>
    {% if posts %}
        {% for post in posts %}
            <div class="card post-card mb-4 shadow-sm">
                <div class="card-header d-flex align-items-center">
                    <img src="{% static 'default.jpg' %}" alt="Profile Picture" class="rounded-circle me-3" width="50" height="50">

                    <div>
                        <h6 class="mb-0">{{ post.author.first_name }} {{ post.author.last_name }} {% if post.author.is_staff %} <span data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Verified Author"  class="text-primary"><i class="fa-solid fa-circle-check"></i></span> {% endif %}</h6>
                        <small class="text-muted" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Last Updated: {{post.updated_at}}">{{ post.created_at | date:"D, M Y" }}</small>
                    </div>
                </div>
                
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="{{ post.title }}" class="card-img-top post-image">
                {% endif %}
                
                <div class="card-body">

                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content|truncatechars:600 }} <a href="{% url 'single_post' post.id %}"> See more</a></p>

                    <p class="text-muted"><i class="fa-solid fa-tags" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Tags in this post"></i>
                    {% for cat in post.category.all %}
                    <span class="badge rounded-pill text-bg-secondary p-2 mb-1">{{cat.name}}</span>
                    {% endfor %}
                    </p>
                    
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="text-center text-muted">No posts available yet.</p>
    {% endif %}
</div>
{% endblock main %}
