{% extends "base.html" %}
{% load static %}

{% block title %}{{post.title}} - AlgoAspire Blog{% endblock title %}

{% block style %}
.post-card {
    max-width: 600px;
    margin: 0 auto;
}

.post-image {
    height: 300px;
    object-fit: cover;
}
{% endblock style %}

{% block main %}

<div class="card post-card my-4 shadow-sm">
    <div class="card-header d-flex align-items-center">
        <img src="{% static 'default.jpg' %}" alt="Profile Picture" class="rounded-circle me-3" width="50" height="50">

        <div>
            <h6 class="mb-0">{{ post.author.first_name }} {{ post.author.last_name }} {% if post.author.is_staff %} <span data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Verified Author"  class="text-primary"><i class="fa-solid fa-circle-check"></i></span> {% endif %}</h6>
            <small class="text-muted" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Last Updated: {{post.updated_at}}">{{ post.created_at | date:"D, M Y" }}</small>
        </div>
    </div>
    
    {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="card-img-top post-image">
    {% endif %}
    
    <div class="card-body">

        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.content }}</p>

        <p class="text-muted"><small><i class="fa-solid fa-tags" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Tags in this post"></i>
        {% for cat in post.category.all %}
        <span class="badge rounded-pill text-bg-secondary p-2">{{cat.name}}</span>
        {% endfor %}
        </small></p>
        
    </div>
</div>

{% endblock main %}
