*{
    scroll-behavior: smooth;
}

.cart-container{
    width: 80%;
}
.cart-container div{
    border: 1px solid rgb(190, 190, 190);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-container img{
    height: 80px;
    padding: 10px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px;
}
.cart-container h5{
    width: 250px;
    margin: 10px;
}
.cart-container h3{
    margin-left: 20px;
    color: rgb(41, 41, 255);
}